html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background: #ededed;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.step {
  width: 1820px;
  padding: 40px;
  margin: 0;

  box-sizing: border-box;

  font-family: 'PT Serif', georgia, serif;
  font-size: 48px;
  line-height: 1.5;
}

.slide {
  width: 1820px;
  height: 980px;
  padding: 40px 60px;

  background-color: #70A0FF;
  border: 3px solid rgba(0, 0, 0, .4);
  border-radius: 10px;

  color: rgb(245, 245, 245);

  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -1px;
}

.title {
  position: relative;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  line-height: normal;
}

.Main_title {
  position: relative;
  font-size: 200px;
  line-height: normal;
  font-weight: bold;
  text-align: center;
  margin: auto;
  line-height: normal;
}

.bg_less {
  background: none;
}

.display_container {
  position: relative;
}

.display_middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-45%);
}

.display_middle_left {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-120%,-45%);
}

.display_middle_right {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(20%,-45%);
}

.display_top {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-90%);
}

.display_bottom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
}
